@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
a:link, a:visited { text-decoration: none; }
ul, li { list-style-type: none }
img { border: 0; }
body { font-size: 12px; background: #226039 url(../images/bg.jpg) center 0 scroll no-repeat; color: #5d5d5d; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/* header */
header { width: 100%; margin: auto; border-bottom: #3c7a48 1px solid }
.quotes { width: 1000px; position: relative; margin: 60px auto 120px auto; }
.quotes p { text-shadow: #246640 1px 1px 1px; color: #fff; width: 330px; line-height: 26px; }
.text5 { position: absolute; left: 0px; top: 160px; font-family: "微软雅黑"; font-size: 30px; color: #FFF; -webkit-box-reflect: below -3px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); }/* below文字倒影方向向下，距离3px 颜色渐变由上往下 */
.flower { position: absolute; right: 0; top: 60px; background: url(../images/flower.png) no-repeat; width: 173px; height: 175px; z-index: 2 }
.flower img { margin: 22px 0 0 17px; display: block; }
/* nav */
#nav { width: 100%; line-height: 50px; height: 50px; font-family: "微软雅黑"; font-size: 16px; background: rgba(56,134,72,.8); text-align: center; position: relative; border-bottom: #559765 1px solid }
#nav ul { width: 1000px; margin: auto; background: url(../images/heart.png) left no-repeat; overflow: hidden }
#nav ul li { display: inline; margin: 0 12px; text-align: center; }
#nav ul li a { color: #fff; }
/* photowall */
.photowall { width: 100%; background: #559664; padding: 30px 0; overflow: hidden; border-bottom: #226039 1px solid }
.photowall img { display: block; opacity: 0.9; -webkit-transition: opacity 0.35s; transition: opacity 0.35s; }
.wall_a { width: 1000px; margin: auto; background: #fafcfa; overflow: hidden }
.wall_a li { float: left; position: relative; }
.wall_a li p a { color: #686868 }
.text_a { width: 220px; line-height: 24px; padding: 30px 20px }
.text_b { width: 164px; line-height: 24px; padding: 40px 20px }
.wall_a li figcaption { position: absolute; left: 0; top: 10px; }
.wall_a li h2 { font-size: 12px; line-height: 24px; padding: 20px; font-weight: normal; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: scale(0); transform: scale(0); color: #666 }
.wall_a li:hover h2 { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.wall_a li:hover img { opacity: 0.4; }
/* loading  */
#fountainG { position: relative; width: 240px; height: 29px; }
#fountainG li { position: absolute; top: 0;/* background: #238d7b; 默认颜色 */ width: 29px; height: 29px; -moz-animation: bounce_fountainG 1.2s linear infinite; -moz-transform: scale(.3); -moz-border-radius: 19px; -webkit-animation: bounce_fountainG 1.2s linear infinite; -webkit-transform: scale(.3); -webkit-border-radius: 19px; -ms-animation: bounce_fountainG 1.2s linear infinite; -ms-transform: scale(.3); -ms-border-radius: 19px; -o-animation: bounce_fountainG 1.2s linear infinite; -o-transform: scale(.3); -o-border-radius: 19px; animation: bounce_fountainG 1.2s linear infinite; transform: scale(.3); border-radius: 19px; }
#fountainG li:first-child { left: 0; -moz-animation-delay: 0.48s; -webkit-animation-delay: 0.48s; -ms-animation-delay: 0.48s; -o-animation-delay: 0.48s; animation-delay: 0.48s; }
#fountainG li:nth-child(2) { left: 30px; -moz-animation-delay: 0.6s; -webkit-animation-delay: 0.6s; -ms-animation-delay: 0.6s; -o-animation-delay: 0.6s; animation-delay: 0.6s; }
#fountainG li:nth-child(3) { left: 60px; -moz-animation-delay: 0.72s; -webkit-animation-delay: 0.72s; -ms-animation-delay: 0.72s; -o-animation-delay: 0.72s; animation-delay: 0.72s; }
#fountainG li:nth-child(4) { left: 90px; -moz-animation-delay: 0.84s; -webkit-animation-delay: 0.84s; -ms-animation-delay: 0.84s; -o-animation-delay: 0.84s; animation-delay: 0.84s; }
#fountainG li:nth-child(5) { left: 120px; -moz-animation-delay: 0.96s; -webkit-animation-delay: 0.96s; -ms-animation-delay: 0.96s; -o-animation-delay: 0.96s; animation-delay: 0.96s; }
#fountainG li:nth-child(6) { left: 150px; -moz-animation-delay: 1.08s; -webkit-animation-delay: 1.08s; -ms-animation-delay: 1.08s; -o-animation-delay: 1.08s; animation-delay: 1.08s; }
#fountainG li:nth-child(7) { left: 180px; -moz-animation-delay: 1.2s; -webkit-animation-delay: 1.2s; -ms-animation-delay: 1.2s; -o-animation-delay: 1.2s; animation-delay: 1.2s; }
#fountainG li:nth-child(8) { left: 210px; -moz-animation-delay: 1.32s; -webkit-animation-delay: 1.32s; -ms-animation-delay: 1.32s; -o-animation-delay: 1.32s; animation-delay: 1.32s; }
 @-moz-keyframes bounce_fountainG { 0% {
-moz-transform:scale(1);
background-color:#238d7b;
}
 100% {
-moz-transform:scale(.3);
background-color:#FFFFFF;
}
}
 @-webkit-keyframes bounce_fountainG { 0% {
-webkit-transform:scale(1);
background-color:#238d7b;
}
 100% {
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}
}
 @-ms-keyframes bounce_fountainG { 0% {
-ms-transform:scale(1);
background-color:#238d7b;
}
 100% {
-ms-transform:scale(.3);
background-color:#FFFFFF;
}
}
 @-o-keyframes bounce_fountainG { 0% {
-o-transform:scale(1);
background-color:#238d7b;
}
 100% {
-o-transform:scale(.3);
background-color:#FFFFFF;
}
}
 @keyframes bounce_fountainG { 0% {
transform:scale(1);
background-color:#238d7b;
}
 100% {
transform:scale(.3);
background-color:#FFFFFF;
}
}
/* about */
.about { width: 100%; background: #fff; padding: 20px 0; overflow: hidden }
.about ul { width: 1000px; margin: auto; line-height: 24px }
.about_girl span img, .about_boy span img { width: 130px; height: 130px; border-radius: 100% }
.about_girl, .about_boy { width: 100%; margin:10px auto 0; overflow: hidden }
.about_girl span { float: left; margin-right: 30px }
.about_girl p { margin: 20px; background: #559664; color: #FFF; float: left; padding: 20px; width: 46%; border-radius: 6px; position: relative; box-shadow: inset #226039 -1px -1px 1px; text-shadow: #226039 1px 1px 0px }
.about_girl p::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 20px 20px 20px 0; border-color: transparent #559664 transparent; position: absolute; left: -20px; top: 24px; }/* 三角形 */
.about_boy span { float: right; margin-left: 30px }
.about_boy p { margin: 20px; background: #ececec; color: #444; float: right; padding: 20px; width: 46%; border-radius: 6px; position: relative; box-shadow: inset #999 1px -1px 1px; text-shadow: #fff 1px 1px 0px }
.about_boy p::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 20px 0 20px 20px; border-color: transparent #ececec transparent; position: absolute; right: -20px; top: 24px; }
/* blog */
.blog{ width:1000px; margin: 30px auto; overflow:hidden}
.blog figure{ background:#ececec; border:#FFF 10px solid; width:300px; height:430px; float:left;margin: 0 5px;}
.blog figure img{ display:block; margin: 0 auto 20px}
.blog figure p{ font-size:14px;  text-shadow: #fff 1px 1px 0px; line-height:26px; text-align:center; font-weight:bold}
.blog figure p a{color:#226039;}
.blog figure figcaption{ padding:10px; line-height:22px; color:#666}
/* hope */
.text6 {font-family: "微软雅黑"; font-size: 30px; color: #FFF; -webkit-box-reflect: below 1px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); width:1000px; margin:auto  }
.hope{ border-top:50px #559664 solid; padding:20px; color:#FFF }
.hope ul{ width:1000px; margin:auto;background: url(../images/love.png) no-repeat left center; overflow:hidden}
.visitors{ width:500px; float:right}
.visitors dl { display: block; overflow: hidden; margin-bottom: 12px }
.visitors dt { float: left; }
.visitors dt img { width: 100px; height: 100px; margin-right: 20px; border-radius:100% }
.visitors dd { line-height: 22px; }
.visitors dd a{ color:#d2ec40; font-size:14px; font-weight:bold}
.visitors dt+dd{ margin-top:20px}
/*footer*/
footer{ background:#032e13; height:56px; line-height:56px;}
footer p{ width:1000px; margin:auto; text-align:right;color:#559664 }
footer p a{color:#559664}
footer p a:hover{ text-decoration:underline}